<div class="messages-container">
  <div class="header-messages">
    <app-header [showBackButton]="true" backRoute="/chat"></app-header>
    <div class="onglets">
      <h1>Messages</h1>
      @if (userTarget) {
        <div class="user-header">
          <img [src]="userTarget.imgUrl" alt="avatar" class="avatar-header" />
        </div>
      }
      <h1
        class="clickable-header"
        tabindex="0"
        role="button"
        (click)="goToUserProfil()"
        (keyup.enter)="goToUserProfil()"
        (keyup.space)="goToUserProfil()">
        Voir profil
      </h1>
    </div>
  </div>
  <div class="messagerie-content">
    <app-messagerie></app-messagerie>
  </div>
</div>
