.my-profil-container{
    width: 90%;
    height: 90vh;
    padding: 0 auto;
    border-radius: 8px;

    .img-container{
        height: 300px;
        width: 100%;
        border-radius: 8px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
        .top-right-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            border: none;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
            z-index: 1;
        }
    }

    .description-container{
        padding: 5px ;
        position: relative;
        background-color: white;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.243);
        border-radius: 8px;
        height: 50%;

        .top-right-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            border: none;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
            z-index: 1;
        }
        
        h1 {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 1em;
            margin-bottom: 4px;
            color: #A14343;
        }

        p{
            margin-bottom: 10px;
        }
    }
}