<div class="my-profil-container">
  @if (user$ | async; as user) {
    <div class="img-container">
      <button class="top-right-button" type="button"><</button>
      <img [src]="user.imgUrl" alt="profil" />
      <button class="wink-button" type="button">😉</button>
    </div>
    <div class="description-container">
      <div class="top-right-button" type="button">{{ user.city }}</div>
      <div class="profile-header">
        <h1>{{ user.userName }}, {{ user.age }}</h1>
        <button class="edit-button" type="button" (click)="navigateToEdit()" aria-label="Modifier le profil">
          ✏️
        </button>
      </div>
      <div class="description">
        <h2>A propos</h2>
        <p>{{ user.description }}</p>
      </div>
    </div>
  }
</div>
