<div class="container-login-page">
  <div class="contain">
    <div class="title">
      <h2>Je me connecte</h2>
    </div>

    <app-login-form class="inner-right"></app-login-form>
    <div class="acount">
      <h4>
        Vous n'avez pas de compte ?
        <p>
          <span><a [routerLink]="['/register']">Créer un compte</a></span>
        </p>
      </h4>
    </div>

    <div class="social-connexion">
      <!-- <app-social-connexion
          title="Ou connectez-vous avec "
        ></app-social-connexion> -->
    </div>
  </div>
</div>
