.container-login-page {
  background-color: #413443;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;

  .contain {
    width: 70%;
    height: 70vh;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);

    .title {
      padding: 16px 0;
      text-align: center;
      color: white;
      font-family: Urbanist, sans-serif;
    }

    .acount {
      text-align: center;
      padding: 20px 0;
      font-size: 16px;
      color: white;
    }

    .connexion-button {
      color: #ffc122;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      outline: none;
    }
  }
}
