.container-dashboard-page {
  background: linear-gradient(to bottom, #f9c255, #745b29);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;

  h1 {
    color: white;
    text-align: center;
    padding-top: 30px;
  }
}
