@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Koulen&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.my-saloon-container {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 100px;


  .profils-container {
    background-color: #ffffff;
    min-height: 100vh;

    h1 {
      color: black;
      padding: 10px;
      font-size: 0.8em;
      font-family: 'Koulen', sans-serif;
      
    }

    h2 {
      text-align: center;
      color: #FFC122;
      padding-top: 30px;
      font-family: 'Koulen', sans-serif;
    }

    p {
      text-align: center;
      color: #a14343;
    }

    .list-visitor {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .visitor-card-container {
      width: 50%;
      box-sizing: border-box;
      padding: 10px;
      height: 300px;
      margin-bottom: 10px;
    }
  }
}

.btn-deconnexion {
  text-align: center;
  padding-top: 40px;

  button {
    background-color: #413443;
    width: 300px;
    height: 50px;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 1.1em;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.237);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .modal-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    max-width: 200px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      font-size: 2em;
      font-weight: 200;
      color: #FFC122;
      font-family: 'Koulen', sans-serif;
    }

    h3 {
      font-size: 0.8em;
      font-weight: 200;
    }

    p {
      font-size: 0.8em;
      color: #444;
      margin: 10px 0;
    }
  }
}
