<div class="place-card-container">
  <div class="img-card">
    <img [src]="saloon.imgUrl" [alt]="saloon.name" />
    @if (formattedDistance) {
      <span class="distance-badge">{{ formattedDistance }}</span>
    }
  </div>
  <div class="title-img">
    <h1>{{ saloon.name }}</h1>
    <p>
      <img class="icon-visitors" src="assets/icons/visitors.svg" alt="icons visitors" />
      @if (usersInSaloon$ | async; as users) {
        @if (users.length === 0) {
          Aucun visiteur
        } @else {
          {{ users.length }} visiteur{{ users.length > 1 ? 's' : '' }}
        }
      } @else {
        Aucun visiteur
      }
    </p>
  </div>
</div>
