<div class="visitor-card-container" tabindex="0" (click)="onCardClick()" (keydown.enter)="onCardClick()">
  <div class="img-card">
    <img [src]="user.imgUrl" [alt]="user.userName" />
    <div class="title-img">
      <h1>{{ user.userName }}</h1>
      @if (userCity) {
        <p><img class="icon-visitors" src="assets/icons/location.svg" alt="icons visitors" />{{ userCity }}</p>
      }
      @if (user.age) {
        <p><img class="icon-visitors" src="assets/icons/visitors.svg" alt="icons visitors" />{{ user.age }} ans</p>
      }
    </div>
  </div>
</div>
