<form [formGroup]="formGroup" class="formulaire" (ngSubmit)="onFinish()">
  <div class="stepper-indicator">
    <div class="step" [class.active]="step === 1">Etape 1</div>
    <div class="step" [class.active]="step === 2">Etape 2</div>
    <div class="step" [class.active]="step === 3">Etape 3</div>
  </div>

  @switch (step) { @case (1) {
  <div formGroupName="account">
    <div class="container-input">
      <label class="label-form" for="lastname">Nom *</label>
      <input class="input-form" id="lastname" type="text" formControlName="lastname" placeholder="Votre nom" autocomplete="on" />
      <app-field-error [control]="formGroup.get('account.lastname')" [submitted]="submitted" label="lastname"></app-field-error>
    </div>

    <div class="container-input">
      <label class="label-form" for="email">
        Email *
        <span>
          Utilisez votre domaine
          {{ formGroup.get('account.email')?.errors?.['extension']?.expected }}
        </span>
      </label>
      <input class="input-form" id="email" type="email" formControlName="email" placeholder="Votre email" autocomplete="on" />
      <app-field-error [control]="formGroup.get('account.email')" [submitted]="submitted" label="email"></app-field-error>
    </div>

    <div class="container-input">
      <label class="label-form" for="password">Mot de passe *</label>
      <div class="password-input-wrapper">
        <input
          class="input-form"
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Votre mot de passe" />
        <button
          type="button"
          class="password-toggle-btn"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="showPassword ? 'Masquer le mot de passe' : 'Afficher le mot de passe'">
          <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </button>
      </div>
      <app-field-error [control]="formGroup.get('account.password')" [submitted]="submitted" label="password"></app-field-error>
    </div>

    <div class="container-input">
      <label class="label-form" for="checkPassword">Confirmation du mot de passe *</label>
      <div class="password-input-wrapper">
        <input
          class="input-form"
          id="checkPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="checkPassword"
          placeholder="Confirmation de votre mot de passe" />
        <button
          type="button"
          class="password-toggle-btn"
          (click)="toggleConfirmPasswordVisibility()"
          [attr.aria-label]="showConfirmPassword ? 'Masquer le mot de passe' : 'Afficher le mot de passe'">
          <i class="fas" [class.fa-eye]="!showConfirmPassword" [class.fa-eye-slash]="showConfirmPassword"></i>
        </button>
      </div>
      <app-field-error [control]="formGroup.get('account.checkPassword')" [submitted]="submitted" label="checkPassword"></app-field-error>
      <app-field-error [control]="formGroup.get('account')" [submitted]="submitted"></app-field-error>
    </div>

    <div class="btn-connexion">
      <button type="button" (click)="nextStep()" [disabled]="formGroup.get('account')!.invalid">Suivant</button>
    </div>
  </div>
  } @case (2) {
  <div formGroupName="profile">
    <app-file-upload (fileEmitter)="receiveImage($event)" [imageUrl]="imageUrl"></app-file-upload>
    <div class="btn-connexion">
      <button type="button" (click)="prevStep()">Précédent</button>
      <button type="button" (click)="nextStep()" [disabled]="formGroup.get('profile.imgUrl')!.invalid">Suivant</button>
    </div>
  </div>
  } @case (3) {
  <div formGroupName="meta">
    <div class="container-input">
      <label class="label-form" for="username">Pseudo *</label>
      <input class="input-form" id="username" type="text" formControlName="username" placeholder="Votre pseudo" />
      <app-field-error [control]="formGroup.get('meta.username')" [submitted]="submitted" label="username"></app-field-error>
    </div>
    <div class="btn-connexion">
      <button type="button" (click)="prevStep()">Précédent</button>
      <button type="submit" [disabled]="formGroup.get('meta')!.invalid">Terminer</button>
    </div>
  </div>
  } }
</form>
