<ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event)"></ngx-scanner-qrcode>
<p class="loader" *ngIf="action.isLoading">Loading...</p>
<div class="btn-container">
  <button type="button" (click)="action.isStart ? action.stop() : action.start()">
    <img [src]="action.isStart ? 'assets/icons/cameraOff.svg' : 'assets/icons/camera.svg'" alt="camera" />
  </button>
</div>
@if (scannedUrl) {
  <div class="scanned-link">
    <button type="button" (click)="openScannedUrl()">Entrez dans le saloon</button>
  </div>
}
