/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Koulen&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Koulen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

router-outlet {
  display: none;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input,
textarea,
select,
button {
  font-size: 16px !important;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --header-safe-padding-top: max(12px, var(--safe-top));
}

.safe-area-x {
  padding-left: max(16px, var(--safe-left));
  padding-right: max(16px, var(--safe-right));
}

.safe-area-top {
  padding-top: var(--header-safe-padding-top);
}
