.profil-container {
  background-color: #FFFBF3;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);

  h1 {
    text-align: center;
    color: white;
    padding-top: 150px;
  }

  h2 {
    text-align: center;
    color: white;
    padding-top: 30px;
  }

  p {
    text-align: center;
    color: white;
  }
}
