.profil-container {
  background: linear-gradient(to bottom, #f9c255, #745b29);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;

  h1 {
    text-align: center;
    color: white;
    padding-top: 150px;
  }

  h2 {
    text-align: center;
    color: white;
    padding-top: 30px;
  }

  p {
    text-align: center;
    color: white;
  }
}
