.container-login-page {
    background: linear-gradient(to bottom, #f9c255, #745b29);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0 auto;

    .title {
        padding: 20px;
        text-align: center;
    }
}

.acount {
   text-align: center;
}