<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRpCxE31epQAFrXVB6lXbIySPI_L83GX4</string>
	<key>GCM_SENDER_ID</key>
	<string>575950337220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saloons.app</string>
	<key>PROJECT_ID</key>
	<string>saloons-ba99c</string>
	<key>STORAGE_BUCKET</key>
	<string>saloons-ba99c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575950337220:ios:5aa25ba4a77f828a824591</string>
	<key>CLIENT_ID</key>
	<string>575950337220-smbrt1qql9aknk61fklcbvub7iuaomcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575950337220-smbrt1qql9aknk61fklcbvub7iuaomcm</string>
</dict>
</plist>
